@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");

.font-fresca {
  font-family: "Fresca", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --pixel-size: 6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.Character {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  overflow: hidden;
  margin: 4em auto;
}

.Character_spritesheet {
  position: absolute;
  animation: moveSpritesheet 1s steps(4) infinite;
  width: calc(128px * var(--pixel-size));
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: calc(-32px * var(--pixel-size));
}
.face-up {
  top: calc(-64px * var(--pixel-size));
}
.face-left {
  top: calc(-96px * var(--pixel-size));
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes moveSideways {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }
}

@keyframes windMove {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

@keyframes rotateBranch {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
